body
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #fff;
}
.header
{
    position: relative;
    top: 0;
    float: left;
    padding: 0px 100px;
    background-color: #262626;
    width: 100%;
    height:10vh;
    box-sizing: border-box;
}
.header .logo
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    float: left;
}
.header nav
{
    float: right;

}
.header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
.header nav ul li
{
    list-style: none;
}

.header nav ul li a 
{
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    color: #fff;
    font-size: 24;
    display: block;
    text-decoration: none;
}

.header nav ul li a:hover,
.header nav ul li a.active
{
    color: #2196f3;
    background-color: #FFF;
}
.sticky
{
    width: 100%;
    height: 10vh;
    background: #fff;
}
.menu-toggle
{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.row
{
    width: auto;
    height: auto;
}
.home
{
    width: 100%;
    height: 90vh;
    float: left;
    margin-top: 10vh;
   
}
.col-s-2
{
    width: 40%;
    height: 40vh;
    float: left;
    border-radius: 40px;
    margin: 2em 2em ;
    box-shadow: inset 0 0 2px #000;
}
.col-s-3 img{
    width: 375px;
    height: auto;
    border-radius: 90px;
    margin-left: 4em;  
    box-shadow: inset 0 0 2px #000;
}
.col-s-3
{
    width: 40%;
    float: left;
    height: 40vh;
    border-radius: 8px;
    margin: 1em 1em ;
    
}
.col-s-2 .hi
{
    text-align: center;
    padding:60px 15px;
}
.so 
{
    width: 40%;
    float: left;
    margin-top: 10.5em;
    margin-left: -10em;
}

.about
{
    width: 100%;
    height: 100vh;
    float: left;
}
h1{
    margin: 0;
    padding: 0;
}
.title
{
    width: 40%;
    height: 40px;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    color:#fff;
    background: linear-gradient(#616161 0%,#333 10%,#222);
    border-radius:8px ;
    margin-left: 2em;
}
.col-s-4
{
    width: 45%;
    float: left;
    height: 50vh;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: inset 0 0 2px #000;
    margin-left: 5px;
}
.col-s-4 ul
{
    margin-top: 3em;
}
.col-s-4 ul li
{
    list-style: none;
    margin-top: 3%;
    font-size: 18px;
}
.col-s-4 ul li p
{
    text-align: start;
    padding-left: 5px;
    color: #222;
    letter-spacing: 2px;
}
.col-s-5
{
    width: 45%;
    height: 50vh;
    float: left;
    margin-left: 3em;
    margin-top: 20px;
    top: 0;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #000;
}
.col-s-5 h2
{
  text-align: start;
  padding-left:1em;
    color: #222;
    letter-spacing: 2px;
    margin-top: 1em;
}
.col-s-5 p
{
    color: #222;  
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.siklls
{

    width: 100%;
    height: auto;
    float: left;
}
.siklls .col-s-6
{
    float: left;
    width: 40%;
    padding: 20px;
    margin-top: 1em;
    margin-left: 3em;
    box-shadow: inset 0 0 2px #000;
}
.col-s-6 h1
{
    margin: 0;
    padding: 0;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.siklls .sikllsbox
{
    width: 100%;
    margin: 20px 0;
   box-sizing: border-box;
}

.siklls .sikllsbox p
{
    padding: 0;
    color: #333;
    margin-top: 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.sikllsbox p:nth-child(1) 
{
    float: right;
    position: relative;
    top: -25px;
}

.siklls .sikll
{
    background: #262626;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #2196f3;
    border-radius:2px;
}

.siklls .sikll_level
{
    background: #2196f3;
    height: 10px;
    animation: animate 8s ease-in-out
    forwards;
}
@keyframes animate
{
    from
    {
    width:  0;
    }
}
.siklls .col-s-7
{

    float: left;
    width: 40%;
    padding: 20px;
    margin-top: 1em;
    margin-left: 3em;
    box-shadow: inset 0 0 2px #000;
}
.col-s-7 h1
{
    margin: 0;
    padding: 0;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Contact
{
    width: 100%;
    height: 100vh;
    float: left;
    margin-top: 3em;
}
.col-s-8
{
    float: left;
    width: 40%;
    top: 0;
    left: 0px;
    padding: 20px;
    margin-left: 4em;
}

.Contact .content
{
    width: 100%;
    text-align: center;
    margin-top: 80px;
}
.Contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #222;
    height: 30px;
    margin-top: 3em;
}

.cont
{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.cont .cont_info
{
    width: 70%;
    display: block;
    flex-direction: column;
}

.cont .cont_info .box
{
    position: relative;
    padding: 10px 0;
    display: flex;
}


.cont .cont_info .box .icon_co
{
    min-width: 60px;
    height: 60px;
    background: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.cont .cont_info .box .text_co
{
    display: flex;
    margin-left:16px;
    font-size: 18px;
    color: #333;
    flex-direction: column;
    font-weight: 300;
}
.cont .cont_info .box .text_co h3
{
    font-weight: 500;
    color: #2196f3;
}
.col-s-9
{
    float: left;
    width: 40%;
    top: 0;
    left: 0;
    padding: 20px;
    margin-left: 10px;
  
}
.form
{
    width: 100%;
    padding: 20px;
    margin-top: 0em;
    margin-left: 0em;
    background: #333;
}
.form h2
{
    font-weight: 500;
    color: #fff;
    font-size: 30px;
}
.form .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.form .inputbox input,
.form .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    resize: none;

}
.form .inputbox span
{
    position: absolute;
    left: 0;
    color: #666;
    padding: 5px 9px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;

}

.form .inputbox input:focus~ span,
.form .inputbox input:valid~ span,
.form .inputbox textarea:focus~ span,
.form .inputbox textarea:valid~ span
{
    color: #2196f3;
    font-size: 15px;
    transform: translatey(-30px);
}
.form .inputbox input[type="submit"]
{
    width: 100px;
    background: #2196f3;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width:991px)
{
    
    .header
    {
        padding: 0 20px;
       
    }
    .menu-toggle
    {
        display: block;
       
    }
    .header nav
    {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    .header nav.active
    {
        left: 0;
    }
    .header nav ul 
    {
        display: block;
        text-align: center;
    }
    .header nav ul li a 
    {
        border-bottom: 1px solid rgba(0, 0,0, .2);
    }
    
    .col-s-2 .hi {
        text-align: center;
        padding: 30px 15px;
    }
    .col-s-3 img
    {
        margin-left: 1em;
    }
    .about
    {
        margin-top: 6em;
    }
    .col-s-5,
    .col-s-4
    {
        height: auto;
    }
    .siklls
    {
        margin-top: 2em;
    }
    .siklls .col-s-6 
    {
        margin-left: 1.5em;
    }
    .siklls .col-s-7
    {
        margin-left: 0em;
    }
    .form
    {
        width: 93%
    }
    
}
    
@media (max-width: 768px)
{
    body
    {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #fff;
    overflow-x: hidden;
    }

    .col-s-2 
    {
        width: 40%;
        height: 32vh;
        float: left;
        border-radius: 8px;
        margin: 1em 2em;
        box-shadow: inset 0 0 2px #000;
    }
    .col-s-2 .hi {
        text-align: center;
        padding: 30px 7px;
        font-size: large
    }
    .col-s-3
    {
        margin-left:2em;
        width: 40%;
    }
    .col-s-3 img
    {
        margin-left: 0;
        width: 250px;
         height: auto;
    }

    .so
    {
        width: 43%;
        float: left;
        margin-top: 0.5em;
        margin-left: 5em;
    }

     .about
    {
    width: 100%;
    height: 90vh;
    float: left;
    margin-top: 3em;
    }
    .col-s-4
    {
        width: 90%;
        margin-left:1.5em;
        height: auto;
    }
    .col-s-4 ul li
    {
        margin-top: -1em;
    }
    .col-s-5
    {
        width: 90%;
        height: auto;
        margin-left:1.5em
    }
    .col-s-5 p{
       
    padding: 0 20px;
    }
    .col-s-4 ul li p {
        visibility: visible;
    }
    .siklls {
        
        margin-top: 13em;
    }
    .siklls .col-s-6 {
        
        width: 86%;
        margin-left: 1.5em;
        
    }
    .siklls .col-s-7 {
        width: 86%;
        margin-left: 1.5em;
    }
    
    .Contact {
        margin-top: 10em;
        height: 100vh;
    }
    .Contact .content h2 {
        font-size: 36px;
        font-weight: 500;
        color: #222;
        height: 30px;
       
    }
    .col-s-8 {
        float: left;
        width: 40%;
        margin-top: 1em;
        padding: 20px;
        margin-left: 0em;
    }
    .cont
    {
        margin-left: 4em;
    }
    .col-s-9
    {
        width: 81%;
        left: 0;
        margin-left: 1em;
    }
    .form {
        width: 86%;
        padding: 20px;
        margin-top: 0em;
        margin-left: 2em;
        background: #333;
    }
    .cont .cont_info .box .text_co p {
        margin-left:-2em;
    }
    
}


@media (max-width: 600px){

    .col-s-2{
    width: 76%;
    height: 21vh;
    float: left;
    border-radius: 8px;
    margin: 0em 3em;
    }
    .col-s-2 .hi {
        text-align: center;
        padding: 18px 7px;
        font-size: x-large;
    }
    .col-s-3 {
        margin: 0;
        width: 58%;
    }
    .col-s-3 img {
        margin: 2em 2.5em;
        width: 250px;
        height: auto;
    }
    .so {
        width: 43%;
        float: left;
        margin-top: 10em;
        margin-left: 7em;
    }

    .about {
        width: 100%;
        float: left;
        margin-top: 6em;
    }
    .col-s-4 {
        width: 90%;
        overflow: hidden;
        margin-left: 14px;
         height: auto;
    }
    .col-s-4 ul {
        margin-left: -1em;
    }
    .col-s-5 {
        width: 90%;
        height: auto;
        overflow: hidden;
        margin-left: 14px;
    }
    .col-s-5 p {
        padding: 0px 2px;
    }
    .siklls .col-s-6 {
        width: 86%;
        margin-left: 0;
    }
    .siklls .col-s-7 {
        width: 86%;
        margin-left: 0;
    }
   
    .col-s-8 {
        
        margin-left:-5em;
    }
    
    .cont .cont_info .box .text_co {
       
        margin-left: 0px;
        
    }
    .form {
        width: 100%;
        padding: 10px;
        margin-top: -1em;
        background: #333;
        margin-left: -17px;
    }
}
